# Ambiente virtual do Python
venv/
.venv/

# Ficheiros de cache do Python
__pycache__/
*.pyc

# Ficheiro de ambiente com senhas e chaves
.env

# Banco de dados antigo e ficheiros temporários
*.db
*.db.ANTIGO
*.sqlite3

# Pasta de configurações do VSCode
.vscode/
